# Python
__pycache__/
*.py[cod]

# uv environment
.venv/

# Environment / secrets
.env
# .env.*

# IDE
.idea/
.vscode/

# Build
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Resources
resources/rc_resources.py
